# Server Environment Configuration
PORT=5000
NODE_ENV=development

# Database Connection URI
MONGODB_URI=mongodb://localhost:27017/sweatly

# Security Configuration
JWT_SECRET=super_secret_jwt_signkey_replace_this_in_production
JWT_EXPIRES_IN=7d

# Cors Configuration (comma-separated origins)
CORS_ORIGIN=http://localhost:3000
